/* Request Form Section Styles */
.request-form {
    background-color: var(--secondary-color);
    padding: 40px 0px;
    color: var(--light-color);
}

.request-form h4 {
    font-size: 22px;
    font-weight: 600;
    color: var(--dark-blue);
}

.request-form span {
    font-size: 15px;
    font-weight: 400;
    display: inline-block;
    margin-top: 10px;
    color: var(--dark-blue);
}

.request-form a.border-button {
    margin-top: 12px;
    float: right;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .request-form {
        text-align: center;
    }
    .request-form a.border-button {
        float: none;
        margin-top: 30px;
    }
}